@import 'constantes';

.fondo{
    height: 100%;
    padding-top: 100px;
    background-image: linear-gradient(to bottom,$color_primario, $color_celeste);
}

// aqui damos estilo al titulo de la seccion
.titulo{
    font-size: 64px;
    color: white;
    text-shadow: 1px 5px 8px black;
 }
 @media only screen and (max-width: 600px){
    .titulo{
        font-size: 40px;
        color: $color_gris;
        text-shadow: 1px 1px 10px black;
     }
 }

//  capsulas de contenido
.capsulas{
    background-color:$color_celeste;
    margin: 5px;
    border-radius: 10px;
    .capsula-interna{
        margin-top: 10px;
        height: 150px;
        background-repeat: no-repeat;
        background-size: 90%;
        background-position-x: center;
    }
}
.capsulas:hover{
    
    animation: capsulas 0.5s forwards;
}
@keyframes capsulas{
    from{}
    to{transform: scale(1.05)}
    to{box-shadow: 0 0 10px black}
    to{background-color:$color_primario;}
    to{color:white}
}
